<div id="sign_details_regulations">
<!-- Template Code Starts Here -->
<h5><span>ANSI Z535 2007 &amp; ISO 3864-2 SIGNAL WORDS (SAFETY HEADERS)</span></h5>
<strong>To view and print a PDF version of this page, click on this link:</strong> <a href="http://174.143.85.67/dev/safety/content/PDF/ANSI-Safety-Labels.pdf" target="_blank">ANSI Z535 Header Selection PDF<span class="arrow">&#8594;</span></a>
<hr />

<div class="span-18 row">
<div class="regulation-copy span-8">
<dl>
<dt>1. Selecting the Right Signal Word (Header)</dt>
<dd>
<p>The first element to consider when  designing or selecting a product safety  label is to determine the likelihood and  severity of a potential injury if a person  does not follow the instructions contained  on the safety label or sign.  </p>
<p>For product identification there  are four Signal Words or Hazard  Classifications used in the design of an  ANSI Z535.4 2007 compliant safety label:  <strong>&ldquo;DANGER&rdquo;, &ldquo;WARNING&rdquo;, &ldquo;CAUTION&rdquo;</strong> and <strong>&ldquo;NOTICE&rdquo;</strong></p>
<p>When more than one hazard exists on a product it is permissible to use  one label, provided the information addresses each hazard and the signal  word selected is based on the greatest level of hazard. The Safety Alert Symbol is used to warn of a potential personal injury hazard. This symbol is used in conjunction with  the signal word or can be used alone. This symbol should be used on both product safety labels and in literature  which can describe the potential hazard in greater detail.</p>
</dd>
</dl>
</div>
<div class="8 last" align="center">
<a href="images/ANSI-header-SelectionZ.png" class="zoom"><img src="images/ANSI-header-Selection.png" alt="ANSI Header Selection" width="350" height="222"/></a><br />
<strong>Click on image to</strong> <a href="images/ANSI-header-SelectionZ.png" class="zoom">Zoom <span class="arrow">&#8594;</span></a></div></div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Safety Alert Symbol: Use, Color Definition &amp; Compliance</dt>
<dd><em><strong>The Safety alert symbol it's used to alert you to potential personal injury hazards.  Obey all safety messages that follow this symbol to avoid possible injury or death. </strong></em></dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Safety-Alert-SymbolZ.png" class="zoom"><img src="images/Safety-Alert-Symbol.png" alt="Safety Alert Symbol" width="650" height="197"/></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>DANGER:</dt>
<dd>Indicates an imminently hazardous situation which, if not avoided, will result in death or serious injury.  Safety Signs identified by the signal word DANGER should be used sparingly and only for those situations  presenting the most serious hazards. </dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Danger.png" class="zoom"><img src="images/Header-Danger.png" alt="Safety Alert Symbol" width="491" height="75"/></a>
</div>
<hr />

<div class="row">
<dl class="span-18">
<dt>WARNING:</dt>
<dd>Indicates a potentially hazardous situation which, if not avoided, will result in death or serious injury.  Hazards identified by the signal word WARNING present a lesser degree of risk of injury or death than those  identified by the signal word DANGER.</dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Warning.png" class="zoom"><img src="images/Header-Warning.png" alt="Safety Alert Symbol" width="491" height="75"/></a>
</div>
<hr />

<div class="row">
<dl class="span-18">
<dt>CAUTION:</dt>
<dd>Indicates a hazardous situation, which if not avoided, could result in minor or moderate injury.  It may also be used without the safety alert symbol as an alternative to <strong>&ldquo;NOTICE&rdquo;</strong></dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Caution.png" class="zoom"><img src="images/Header-Caution.png" alt="Safety Alert Symbol" width="637" height="75"/></a>
</div>
<hr />

<div class="row">
<dl class="span-18">
<dt>NOTICE:</dt>
<dd>Is the preferred signal word to address practices not related to personal injury. The safety alert symbol  should not be used with this signal word. As an alternative to &ldquo;<strong>NOTICE</strong>&rdquo;, the word &ldquo;<strong>CAUTION</strong>&rdquo; without the safety  alert symbol may be used to indicate a message not related to personal injury.</dd>
</dl>
</div>
<div class="span-18 row">
<a href="images/Header-Notice.png" class="zoom"><img src="images/Header-Notice.png" alt="Safety Alert Symbol" width="491" height="49"/></a>
</div>
<hr />

<div class="row">
<dl class="span-18">
<dt>Safety Instructions or Safety Equipment:</dt>
<dd>location signs indicate general instructions relative to safe work  practices, reminders of proper safety procedures, or the location of safety equipment</dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Informative.png" class="zoom"><img src="images/Header-Informative.png" alt="Safety Alert Symbol" width="425" height="120"/></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Fire Related Signs:</dt>
<dd>These signs do not have a signal word (header). If there is a message, the colors should be red background with white text of white symbol, whenever a symbol is used.</dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Fire-Signs.png" class="zoom"><img src="images/Header-Fire-Signs.png" alt="Safety Alert Symbol" width="490" height="100"/></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Directional Arrow Sign Panels:</dt>
<dd>Arrows should be white on a colored background (black, red, green, or the same  color as the text message)</dd>
</dl>
</div>

<div class="span-18 row">
<a href="images/Header-Directional-Arrows.png" class="zoom"><img src="images/Header-Directional-Arrows.png" alt="Safety Alert Symbol" width="491" height="90"/></a>
</div>

<hr />

<div class="span-18 row">
<h5>SIGNAL WORD (HEADER) SELECTION PROCESS SUMMARIZED</h5>
<a href="images/Header-Process.png" class="zoom"><img src="images/Header-Process.png" alt="Safety Label Legibility" width="650" height="373"/></a><br />
<strong>Click on image to</strong> <a href="images/Header-Process.png" class="zoom">Zoom <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong> 
<a href="http://174.143.85.67/dev/safety/content/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">Recommended Sign Size &amp; Viewing Distances <span class="arrow">&#8594;</span></a></div>

<hr />
<dl class="span-18">
<dt>Related Informational Links:</dt>
<ol>
<li class="regulation_links first"><a href="#" target="_blank">Click here to read more about ANSI Z535.4 Product Safety Labels <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links first"><a href="#" target="_blank">Click here to read more about ISO 3864-2 Safety Labels <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="#" target="_blank">Click here to read more about ''How to select Safety Headers'' <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="#" target="_blank">Click here to view Safety Symbol Selection... <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links first"><a href="#" target="_blank">Click here to read  about Sign Layout &amp; Sizes... <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="#" target="_blank">Click here to view   Brimar's PMS Color Chart<span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="#" target="_blank">Click here to view Brimar's Font Catalog... <span class="arrow">&#8594;</span></a></li>
</ol></dl>


<dl class="span-18">
<dt>Links to Industries and Government Institutions Governing Signs:</dt>
<ol>
<li class="regulation_links first"><a href="http://webstore.ansi.org/" target="_blank">Go to ANSI Webstore <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links first"><a href="http://www.iso.org/iso/store.htm" target="_blank">Go to ISO Standards <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="http://www.nfpa.org/" target="_blank">Go to NFPA Webstore <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links"><a href="http://www.osha.gov/pls/oshaweb/owasrch.search_form?p_doc_type=STANDARDS&p_toc_level=0" target="_blank">Go to OSHA Standards Page <span class="arrow">&#8594;</span></a></li>
<li class="regulation_links first"><a href="http://mutcd.fhwa.dot.gov/ser-shs_millennium_eng.htm" target="_blank">Go to MUTCD Traffic Signs Page <span class="arrow">&#8594;</span></a></li>
</ol></dl>

</div>
<!-- /Template Code End Here -->
<!-- End Panel 2-->
