<title>Safetysign.com Confined Space Safety Signs</title>
<div class="panel bottom-rounded " id="sign_details_regulations">
<!-- Template Code Starts Here -->
<h5><span>SAFETY SYMBOLS CLASSIFICATION &amp;</span></h5>
<strong>To view and print a PDF version of this page, click on this link:</strong> <a href="/PDF/ANSI-Safety-Labels.pdf" target="_blank">Brimar Safety Symbol Classification PDF<span class="arrow">&#8594;</span></a>
<hr />

<div class="row">
<dl class="span-18">
<dt>Safety Label Construction:</dt>
<dd>ANSI Z535 encourages the use of safety symbols that communicate a comparable message to the worded message on  the sign or label. The safety symbol when selected properly, should identify:</dd>
<dd>
<ul>
<li>The hazard;</li>
<li>Identify a means of avoiding the hazard;</li>
<li>Or identify the consequences of not avoiding the hazard.</li>
</ul></dd>
<dd>The safety symbol should clarify or reinforce the worded message on the label or sign. When safety symbols are being used, they  should be as simple as possible and should contain only essential details. They should be easy to learn and to recognize. There are four types of safety symbols described in ANSI Z535.5 2007.</dd>
<dd>
<ul>
<li>Hazard Alerting</li>
<li>Mandatory Action</li>
<li>Prohibition</li>
<li>Information</li>
</ul></dd>
<dd>When using safety symbols to comply with ANSI, the symbol can be black on a white background, other colors may be  used, like safety red for fire related symbols, green for emergency equipment, etc. To comply with both ANSI Z535 and  ISO 3864-2 Standards simultaneously, then, the following applies, ISO 3864-2 2002 standards require that all of the safety  symbols used on international product safety labels be within a surround shape, yellow equilateral triangle with black inner  border for <strong>hazard alerting symbols</strong>, blue circle for <strong>mandatory actions</strong>, and red circle with 45&deg; degree slash for <strong>prohibition symbols</strong>. ANSI Z535 2007 does not required the use of a yellow equilateral triangle or the mandatory surround  shape but, it does recognize it and permits their use.</dd>
</dl>
</div>

<hr />

<div class="row">
<dl class="span-18">
<h5>Safety  Symbols Classification</h5>
<dt>Hazard Alerting Symbols:</dt>
<dd>This type of safety symbol conveys information primarily related to the nature of hazards. Like,  hazard description, how to avoid the hazard and sometimes the consequences of not avoiding the hazard. <br />
If a surround shape is desired, the hazard alerting symbol should be drawn within a yellow equilateral triangle. <br />
  <strong><em>The yellow equilateral triangle is required on safety alert symbols used on ISO compliant product safety labels. </em></strong><br />
  <br />
  <em>The image below shows some examples from our Safety Symbol Database</em></dd>
</dl>
</div>

<div class="span-18 row">
<img src="/detailtab/images/Brimar-Hazard-Alert-Symbols.png" alt="Hazard Alert Safety Symbols" width="650" height="207"/><br />
<strong>Click on this link to go to our </strong> <a href="/content/PDF/Safety-Sign-Viewing-Distance.pdf" class="zoom">Safety Symbols Page <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong>
<a href="/content/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">SafetySign.com Hazard Alerting Symbols (PDF) <span class="arrow">&#8594;</span></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Mandatory Action Symbols:</dt>
<dd>This type of safety symbol conveys actions that should be taken to avoid hazards.  If a surround shape is desired, the symbol consist of a white image within a solid blue or black circular surround  shape. <strong>The blue surround shape is required on ISO compliant product safety labels that contain mandatory  action symbols.</strong><br />
  <br />
  <em>The image below shows some examples from our Safety Symbol Database</em></dd>
</dl>
</div>

<div class="span-18 row">
<img src="/images/Brimar-Mandatory-Symbols.png" alt="Mandatory Action Safety Symbols" width="650" height="208"/><br />
<strong>Click on this link to go to our </strong> <a href="/PDF/Safety-Sign-Viewing-Distance.pdf" class="zoom">Safety Symbols Page <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong>
<a href="/content/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">SafetySign.com Mandatory Action Symbols (PDF) <span class="arrow">&#8594;</span></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Prohibition Symbols:</dt>
<dd>This type of safety symbol conveys actions that should not be taken. This symbol consists  of a red circular band with a 45&deg; diagonal red band from upper left to lower right. The symbol contains a black  image within the red band on a white background. <strong><em>Prohibition symbols are mandatory for use on ISO  compliant product safety labels. </em></strong><br />
  <br />
  <em>The image below shows some examples from our Safety Symbol Database</em></dd>
</dl>
</div>

<div class="span-18 row">
<img src="/images/Brimar-Prohibition-Symbols.png" alt="Prohibition Safety Symbols" width="650" height="101"/><br />
<strong>Click on this link to go to our </strong> <a href="/PDF/Safety-Sign-Viewing-Distance.pdf" class="zoom">Safety Symbols Page <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong>
<a href="/content/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">SafetySign.com Prohibition Symbols (PDF) <span class="arrow">&#8594;</span></a>
</div>

<hr />

<div class="row">
<dl class="span-18">
<dt>Information Symbols:</dt>
<dd>This type of safety symbol is generally used on ANSI Z535.2 Environmental Safety or Fire  Safety Signs, to convey equipment location, permitted actions and fire equipment location.<br />
  <em>The image below shows some examples from our Safety Symbol Database</em></dd>
</dl>
</div>

<div class="span-18 row">
<dt>Fire Related Safety Symbols</dt>
<img src="/images/Brimar-Fire-Related-Symbols.png" alt="Fire Related Symbols" width="650" height="151"/>
</div>
<div class="span-18 row">
<dt>Emergency Equipment  Symbols</dt>
<img src="/images/Brimar-Emergency-Equipment-Symbols.png" alt="Emergency Equipment Safety Symbols" width="650" height="52"/><br />
<strong>Click on this link to go to our </strong> <a href="/PDF/Safety-Sign-Viewing-Distance.pdf" class="zoom">Safety Symbols Page <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong>
<a href="/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">SafetySign.com Prohibition Symbols (PDF) <span class="arrow">&#8594;</span></a>
</div>

<div class="span-18 row">
<div class="regulation-copy span-10">
<dl>
<dt>Safety Symbols</dt>
<dd>There are 2 basic types of safety symbols for use on safety signs, labels and tags: Hazard Alerting &amp; Hazard Avoidance.<br />
</dd></dl>
<dl>
<dt>Hazard Alerting Symbols</dt>
<dd>
A well developed  hazard description pictorial should clearly identify  the hazard and portray the potential consequences  of a  failure to follow instructions.</dd></dl>
<dl>
<dt>Hazard Avoiding Symbols</dt>
<dd>
Should clearly  identify the actions necessary to avoid interaction  of persons with the hazard.</dd></dl>
</div>

<div class="8 last" align="center">
<img src="/images/Brimar-Hazard-Alert-01.png" alt="Hazard Alerting &amp; Avoidance Symbols" width="295" height="284"/><br />
<strong>Click on this link to go to our </strong> <a href="/PDF/Safety-Sign-Viewing-Distance.pdf" class="zoom">Safety Symbols Page <span class="arrow">&#8594;</span></a><br />
<strong>Click on the link to Open &amp; Print PDF with </strong>
<a href="/PDF/Safety-Sign-Viewing-Distance.pdf" target="_blank">SafetySign.com Hazard Alerting Symbols (PDF) <span class="arrow">&#8594;</span></a></div>
</div>
</div>
<!-- /Template Code End Here -->
<!-- End Panel 2-->
