
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color:#175892;
	font-weight:bold;
	line-height:1.7;
	margin-bottom:0;
}

h1,
.h1,
.font-22 { font-size: 22px; }

h2,
.h2 { font-size: 22px; }

h3,
.h3,
.font-18 { font-size: 18px; }

h4,
.h4,
.font-16 { font-size: 16px; }

h5,
.h5,
.font-14 { font-size: 14px; }

h6,
.h6,
.font-12 { font-size: 12px; }

.h2-rev,
.h3-rev,
.h4-rev,
.h5-rev,
.h6-rev {
	background-color: #175892;
	color: #FFFFFF;
}

.h-rev-light {
	background-color: #abc2d9;
	color:#175892;
}

.h2 .super-text{
	font-size: 12px;
	top:-7px;
	left: -1px;
	position: relative;
}

.h3 .super-text{
	font-size: 10px;
	top:-5px;
	left: -1px;
	position: relative;
}





.text-link-button {
background-color: transparent;
text-decoration: underline;
border: none;
color: #175892;
cursor: pointer;
padding:0;
}

.text-link-button:hover {
background-color: transparent;
text-decoration: underline;
border: none;
color: #6D8C3D;
text-decoration: none;
cursor: pointer;
padding:0;
}

.notice-neutral{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #c2d4e6;
	color: #5B85AD;
	background-color: #E6EEF6;
}



.button,
button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #f7f7f7;
	border-color: #dbdbdb #aeaeae #858585 #e9e9e9;
	border-radius: 3px;
	border-width: 1px;
	border-style:solid;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height:24px;
	line-height: 24px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow:none;
	text-align:center;
	margin: 0;
	color:#444;
}

html.lt-ie8 .button,
html.lt-ie8 button,
html.lt-ie8 a.button,
html.lt-ie8 input[type="button"],
html.lt-ie8 input[type="reset"],
html.lt-ie8 input[type="submit"] {line-height: 20px}

.square-button {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.small-text.button{
	font-size:11px;
	font-weight: normal;
	height:20px;
	line-height: 20px;
}

.button.yellow {
	background-color: #f6e923;
	border-color:#DDD009;
	color: #444444;
	text-shadow: none;
}

.button.yellow:hover { color: #ffffff; }

.button.light-green {
	background-color: #90b557;
	color: #ffffff;
	text-shadow: none;
}


.green.button {
	background: #90B557;
	border-color: #6d8c3d;
	color: #fff;
	text-shadow: none;
}

.alt-green.button {
	background: #84A65C;
	border-color:#6d8c3d;
	color: #fff;
	text-shadow: none;
}

.red.button {
	background-image: none;
	background: #b00000;
	border-color:#7d0000;
	text-shadow: none;
	color:#fff;
}

.alt-red.button {
	background:#DB5252;
	border-color: #A24343;
}

.blue.button {
	background:none repeat scroll 0 0 #175892;
	border-color:#0f3d65;
	text-shadow: none;
	color:#fff;
	height: 26px;
}

.lt-blue.button {
	background: none repeat scroll 0 0 #82B4E1;
	border-color:#6EA2D1;
	text-shadow: none;
	color: white;
}

.alt-blue.button {
	background: #257ABE;
	border-color:#175892;
	text-shadow: none;
	color:#fff;
}

.alt-blue2.button {
	background-color: #7198BF;
	border-color:#5987B4;
}

a.small.button.red.sign-delete { display: inline-block; }

.orange.button {
	background: none repeat scroll 0 0 #F37632;
	border-color:#F26222;
	text-shadow: none;
	color: #ffffff;
}

#cart-summary a.button:hover .button:hover {
	background: #90b557;
	border: 1px solid #6d8c3d;
	color: #ffffff;
}

.button:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background: #90B557;
	color: #28391a;
	border-color:#6d8c3d;
}

.blue.button:hover {
	background: #f26222;
	border-color:#c54a27;
	color: #ffffff;
}

.alt-blue.button:hover {
	background-color:#456F97;
	border-color:#0f3d65;
	color: #fff;
}

.green.button:hover {
	background: #175892;
	border-color:#0f3d65;
	color:#ffffff;
}

.large.button {
	font-size: 24px;
	padding: 5px 10px 7px;
}

#search.button {
	color: #ffffff;
	background: #a2c972;
	font-weight: normal;
	height: 28px;
	width: 80px;
	border-left:0px none transparent;
	border-right:1px solid #6d8c3d;
	border-top:1px solid #6d8c3d;
	border-bottom:1px solid #6d8c3d;
	-webkit-border-radius:05px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}

#search.button:hover {
	background-color:#6d8c3d;
	border-top: 1px solid #6d8c3d;
	border-right: 1px solid #6d8c3d;
	border-bottom: 1px solid #6d8c3d;
}

.small-button {
	padding: 5px 6px;
	font-size: 11px;
	line-height: .75;
}


.remove-items-btn.button {
	text-indent: -9999em;
	width:16px;
	float:left;
	margin-left: 7px;
	background: url(../new_images/sprites.20140718.png) no-repeat -3px -50px;
	border-color: transparent;
	border-width: 0;
}

.remove-items-btn.button:hover, .remove-items-btn.button:active {background: url(../new_images/sprites.20140718.png) no-repeat -3px -1044px;-webkit-box-shadow: inset 0 0 0;}

input.update-items-btn{
	border-width: 0;
	padding:0;
	text-decoration: underline;
	float: left;
	color: #175892;
	margin-left: 10px;
	background: transparent;
}

input.update-items-btn:hover, input.update-items-btn:active{background: transparent;color: #6D8C3D;-webkit-box-shadow: inset 0 0 0;}

button.remove-all-btn{
	border:0;
	color:#b00000;
	background-color: transparent;
	text-decoration: underline;
}

button.remove-all-btn:hover, button.remove-all-btn:active{
	color: #175892;
	-webkit-box-shadow: inset 0 0 0;
}

.update-error{
	background: #FBE3E4;
	color: #8A1F11;
	border: 1px solid #FBC2C4;
	padding: 7px 10px;
}

.update-error p,.update-error span{
	margin-bottom: 0;
	line-height: 1.2;
	color: #8A1F11;
}

.update-error ul{margin:0;}

.bold {font-weight:bold !important;}

.prepend-top { margin-top: 10px; }

.prepend-top-5 { margin-top: 5px; }

.left-side { float: left; }

.right-side { float: right; }

.no-float { float: none; }

.append-bottom { margin-bottom: 10px; }

#invoice-subtotals { height: 100%; }

.half.prepend-top { margin-top: 5px; }

.half.append-bottom { margin-bottom: 5px; }

.top-space { padding-top: 5px; }

.top-space-10 { padding-top: 10px; }

.bottom-space { padding-bottom: 5px; }

.bottom-space-10 { padding-bottom: 10px; }

.first-pad { padding-left: 10px; }

.first-margin { margin-left: 10px; }

.first-margin-5 { margin-left: 5px; }

.last-margin { margin-right: 10px; }

.last-margin-5 { margin-right: 5px; }

.no-margin-bottom { margin-bottom:0; }

.pad-left-5 { padding-left:5px; }

.pad-left-10 { padding-left:10px; }

.pad-left-15 { padding-left:15px; }

.pad-left-20 { padding-left:20px; }

.pad-right-5 { padding-right:5px; }

.pad-right-10 { padding-right:10px; }

.pad-right-15 { padding-right:15px; }

.pad-right-20 { padding-right:20px; }

.pad-bot-10 { padding-bottom:10px; }

.pad-bot-15 { padding-bottom:15px; }

.no-border-top { border-top:none !important; }

.no-border-bottom { border-bottom:none !important; }

.no-border-left { border-left:none !important; }

.no-border-right { border-right:none !important; }

.active { display:block; }

.table-display { display:table; }

.table-row-display { display:table-row; }

.table-cell-display { display:table-cell; }

.text-center{text-align: center;}

.text-left{text-align: left;}

.text-right{text-align: right;}

.relative-position{position: relative;}

.underline{text-decoration: underline;}

.normal-weight{font-weight: normal;}


body#signin-page .contacting cite, body#signin-basic-page .contacting cite, body#checkout-page .contacting cite {
	margin: -3px 0 0.5em 70px;
	width:auto
}

body#signin-page ul#checkout-progress {
	margin-left: 25px;
	margin-top: 0;
}

body#signin-page label{
	display:block;
	line-height: 1.75em;
	margin-left: 0px;
	float:none;
	width:auto;
}

body#signin-page form div {
	float:none;
}

body#signin-page .form-container{
	width: 275px;
	border:0;
}

body#signin-page form.signin-form, body#signin-page #new-user-guest-checkout{
	min-height: 220px;
	width: 275px;
	border:0;
}

body#signin-page .benifits {
	background: none repeat scroll 0 0 transparent;
	margin: 5px 0 0 0;
	padding: 10px 5px;
	width: 260px;
	clear:both;
	border-top: 1px solid #E6E6E6;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

body#signin-page #signin-group label span{display:block;}
body#signin-page #new-users-signup .benifits {
	border-top: 1px solid #b9d9f9;
}

body#signin-page .benifits p{
	color:#246495;
}

body#signin-page #new-users-signup input.required {
	background-color: #fff;
}

form.signin-form input.text, body#signin-page input.text{
	float: none;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 218px;
}

body#signin-page h2.long-and-grey{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	text-indent: .5em;
	color: #444;
	font-size: 15px;
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top,  #ececec 0%, #d1d1d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ececec 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ececec 0%,#d1d1d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ececec 0%,#d1d1d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ececec 0%,#d1d1d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

body#signin-page form.contacting input[type="radio"], body#signin-page form.contacting input[type="checkbox"], body#checkout-page input[type="radio"], body#checkout-page input[type="checkbox"] {
	margin-left: 0;
	margin-top: 2px;
	top:1px;
}

body#signin-page #signin-group{
	margin-top:10px;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}

#new-users-signup, #returning-users-signin, #guest-users-signin {
	float: left;
	margin-bottom: 0;
	margin-top: 20px;
	overflow: visible;
	padding: 0 20px 20px;
}

body#signin-page #new-users-signup .form-container, body#signin-page #new-users-signup form {
	background: none repeat scroll 0 0 transparent;
}

#guest-users-signin #reminder-of-benefits {
	clear: both;
	margin-top: 60px;
}

#guest-users-signin #guest-checkout .button{
	margin-right:10px;
}

#guest-users-signin{
	border-left: 1px solid #E6E6E6;
	margin-bottom:20px;
}

body#signin-page #new-users-signup {
	background-color: #D3DFEA;
	margin-bottom: 0;
	margin-top: 0;
	padding: 20px;
}

body#signin-page div.grad-footer{
	margin-top:-5px;
	padding-top:0;
}

body#signin-page .form-container {
	background: none repeat scroll 0 0 #fff;
}

body#signin-page #returning-users-signin .button{
	margin-top:10px;
}

body#signin-page #guest-users-signin #reminder-of-benefits p, body#signin-page #newsletter-signup, body#signin-page #newsletter-signup2{
	margin-top:10px;
	margin-bottom:0;
}

body#signin-page #new-users-signup ul li {
	float: none;
	overflow: visible;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
	list-style-type:disc;
	list-style-position:inside;
	line-height:1em;
	color:#246495;
}

#new-users-signup form label{
	color:#153E54;
}

body#signin-page #returning-user-signins #forgot-password {
	clear: both;
	display: block;
	padding: 10px 10px 0 0;
	text-align: right;
}

body#forgot-password h2{
	margin-left:20px;
}
body#forgot-password #new-users-signup{
	margin-top:0;
}
body#forgot-password form.contacting label {
	margin-left:0;
	margin-right:5px;
	width:auto;
}
body#forgot-password form.contacting p{
	margin-top:5px;
}
body#forgot-password form.contacting .notice-icon p{
	margin-top:0;
	line-height:1.5em;
}
body#signin-page #returning-user-signins #remember-password {
	float:left;
}

body#signin-page #newsletter-signup span{
	font-weight:normal;
}

body#signin-page #security-blurb{
	padding-bottom:30px;
	padding-left:10px;
	clear:both;
}


body#signin-page #security-blurb p{
	float:left;
	padding:0;
}

body#signin-page #security-blurb a {
	margin-left: 0px;
}

body#signin-page #security-blurb a span.arrow {
	height: 13px;
}

body#signin-page div.AuthorizeNetSeal {
	margin-left: 100px;
	margin-right: 50px;
}



/* ---------- basic sign in page ------------- */

body#signin-basic-page ul#checkout-progress {
	margin-left: 25px;
	margin-top: 0;
}

body#signin-basic-page h2#checkout-header {
	background: url("../images/checkout-icons.png") no-repeat scroll 0 -1px transparent;
	padding-left: 31px;
}

body#signin-basic-page #signin-group h4 {
	margin-left: 20px;
}

body#signin-basic-page label{
	display:block;
	line-height: 1.75em;
	margin-left: 0px;
	float:none;
	width:auto;
}

body#signin-basic-page form div {
	float:none;
}

body#signin-basic-page .form-container{
	width: 275px;
	border:0;
	margin-left:20px;
}

body#signin-basic-page form.signin-form{
	width: 275px;
	border:0;
}

body#signin-basic-page .benifits {
	background: none repeat scroll 0 0 transparent;
	margin: 0px 20px 0 20px;
	padding: 10px 10px 20px 0;
	width: 260px;
	float:left;
	border-right: 1px solid #b9d9f9;
	border-left:none;
	border-top:none;
	border-bottom:none;
}

body#signin-basic-page #new-users-signup {
	background-color: #D3DFEA;
	margin-bottom: 0;
	margin-top: 0;
	padding: 20px 0;
}



body#signin-basic-page .benifits p{
	color:#246495;
}

body#signin-basic-page #new-users-signup input.required {
	background-color: #fff;
}

body#signin-basic-page input.text{
	float: none;
	margin-bottom: 5px;
	margin-top: 0;
	width: 218px;
}

body#signin-basic-page h2.long-and-grey{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	text-indent: .5em;
	color: #444;
	font-size: 15px;
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top,  #ececec 0%, #d1d1d1 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(98%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ececec 0%,#d1d1d1 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ececec 0%,#d1d1d1 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ececec 0%,#d1d1d1 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #ececec 0%,#d1d1d1 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

body#signin-basic-page form.contacting input[type="radio"], body#signin-basic-page form.contacting input[type="checkbox"]{
	margin-left: 0;
	margin-top: 2px;
	top:1px;
}

body#signin-basic-page #signin-group{
	margin-top:10px;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}

body#signin-basic-page #returning-users-signin {
	float: left;
	margin-bottom: 0;
	margin-top: 20px;
	overflow: visible;
	padding: 0;
}

body#signin-basic-page #new-users-signup .form-container, body#signin-basic-page #new-users-signup form {
	background: none repeat scroll 0 0 transparent;
}


body#signin-basic-page div.grad-footer{
	margin-top:-5px;
	padding-top:0;
}

body#signin-basic-page .form-container {
	background: none repeat scroll 0 0 #fff;
}

body#signin-basic-page #signin-group .button{
	margin-top:10px;
	margin-right: 20px;
}

body#signin-basic-page #new-users-signup ul li {
	float: none;
	overflow: visible;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
	list-style-type:disc;
	list-style-position:inside;
	line-height:1em;
	color:#246495;
}




body#signin-basic-page #returning-user-signins #forgot-password {
	clear: both;
	display: block;
	padding: 10px 10px 0 0;
	text-align: right;
}

body#signin-basic-page #returning-user-signins #remember-password {
	float:left;
}


body#signin-basic-page #security-blurb{
	padding-bottom:30px;
	padding-left:10px;
	clear:both;
	padding-top: 10px;
}


body#signin-basic-page #security-blurb p{
	float:left;
	padding:0;
}

body#signin-basic-page #security-blurb a {
	margin-left: 0px;
}

body#signin-basic-page #security-blurb a span.arrow {
	height: 13px;
}

body#signin-basic-page div.AuthorizeNetSeal {
	margin-left: 100px;
	margin-right: 50px;
}



/* error message redesign 12.13.12 */
.notice-icon{
		background: transparent url(/new_images/notice-icons.png) 10px 0 no-repeat;
		padding:14px 5px 14px 45px;
		margin:10px 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	}

#forgot-password .notice-icon{
	display:block;
}
	.notice-icon p{
		font-size:14px;
		font-weight:bold;
	}
	.notice-icon.error, .notice-icon.error-multi{
		background: #ffccce url(/new_images/notice-icons.png) 10px -163px no-repeat;
		color:#bd1818;
		border:1px solid #db908f;
	}
	.notice-icon.error p, .notice-icon.error-multi p{
		color:#bd1818;
		margin-bottom:0;
	}
	.notice-icon ul{
		margin:5px 0 0 15px;
	}
	.notice-icon li{
		list-style-type:disc;
	}
	.notice-icon a{
		color:#bd1818;
		text-decoration:underline;
		font-weight:bold;
	}
	.notice-icon a:hover{
		font-weight:bold;
		color:#444;
	}
	.notice-icon p a{font-size:14px;}
	.notice-icon.notice a{color:#ffffff;}
	.notice-icon.notice{
		background: #ff9412 url(/new_images/notice-icons.png) 10px 10px no-repeat;
		border:1px solid #ff9412;
		color:#ffffff;
	}
	.notice-icon.notice p{
		color:#ffffff;
		margin-bottom:0;
	}
	.notice-icon.success{
		background: #e0facd url(/new_images/notice-icons.png) 10px -76px no-repeat;
		border:1px solid #c6e0b4;
	}
	.notice-icon.success p{
		color:#5d8a3d;
		margin-bottom:0;
	}

.admin-notices{background-color: #ffecd1;
	border: 2px solid #fcd6a0;
	margin-top: 10px;
	padding: 10px 10px 5px;
	color: #eb9215;
	float: none;
	overflow: hidden;
}
.admin-notices p{color: #eb9215;}
.admin-notices li{float:none;padding:0;}
	#signin-group .error{
		background: #ffccce;
		color:#bd1818;
		border:1px solid #db908f;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-bottom:5px;
		padding:5px 0 5px 10px;
	}
#shipping-det .admin-notices{width: 100%;}
	#signin-group .error label{
		color:#bd1818;
		width:auto;
	}
	#signin-group .error p{
		color:#bd1818;
	}

	body#signin-basic-page .form-container{
		margin-left:0;
	}
	body#signin-basic-page #returning-users-signin .form-container{
		margin-left:10px;
	}
	body#signin-basic-page .form-container form > div{
		padding-left:10px;
	}
	body#signin-basic-page #returning-user-signins #remember {
		margin-top: 2px;
	}
	#signin-group h2 img{vertical-align:text-top;}

/* ---------- checkout page --------------- */
body#checkout-page #place-order-container-bottom h5, body#checkout-page #place-order-container-bottom h6 {
	margin-bottom:0;
}

body#checkout-page form.contacting #email-address {
	line-height: 3em;
	padding-left: 30px;
}

body#checkout-page form.contacting #newsletter-signup{
	margin-top:10px;
}

body#checkout-page #billing-add, body#checkout-page #shipping-address {
	float: left;
	padding: 0 25px 10px;
	width: 420px;
}

body#checkout-page #billing-add, body#checkout-page #shipping-address{
	margin-top: 20px;
}

body#checkout-page #billing-add, body#checkout-page #billing-det{
	clear:left;
}

body#checkout-page #billing-det, body#checkout-page #shipping-det{
	padding:0;
	width:430px;
	float:left;
}

body#checkout-page #billing-det {
	padding-right:20px;
	margin-bottom:20px;
}

body#checkout-page #shipping-det {
	padding-left: 20px;
border-left: 1px solid #E6E6E6;
margin-bottom: 10px;
}


body#checkout-page #shipping-address{
	border-left: 1px solid #E6E6E6;
	margin-bottom:20px;
}

body#checkout-page #po-number{
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	margin-bottom:20px;
}

body#checkout-page #shipping-address {
	float: left;
	margin-bottom: 20px;
}

body#checkout-page #address-verification p{
	float:left;
}

body#checkout-page #addresses-details {
	border-top: 1px solid #E6E6E6;
	clear: both;
	margin: 0 20px;
	padding-top: 20px;
	width:920px;
}

body#checkout-page label {
	display: inline-block;
	float: none;
	width: 100px;
	margin-left:0;
}

body#checkout-page #ups-rates label{width: auto;
line-height: 1.8em;}

body#checkout-page input{
	float:none;
}

body#checkout-page #copy-billing{
	float:left;
	margin-right:10px;
}

body#checkout-page #place-order-container-bottom h5{
	font-size:20px;
}

body#checkout-page td, body#checkout-page tr, body#checkout-page th{
	border:none;
	padding: 5px;
}

body#checkout-page td.freight{
	padding-left:10px;
}



body#checkout-page #expediated-shipping{
	margin-top:10px;
	border-top: 1px solid #E6E6E6;
	padding-top:10px;
}

body#checkout-page #expediated-shipping h5{
	margin-bottom:0;
}

body#checkout-page #verifyaddress p{
	font-weight:normal;
}

body#checkout-page #verifyaddress h5{
	margin-left:10px;
	padding-top:10px;
}

body#checkout-page #verifyaddress ul, body#checkout-page #verifyaddress li{
	width:100%;
}

body#checkout-page #shipping-options .error{
border: 1px solid #F61A14;
background: #FED9D8;
color: #F61A14;
width: 400px;
padding:5px;
}

body#checkout-page table#ups-rates th{
	background:#175892;
	padding-left:0;
	color: #ffffff;
}

body#checkout-page #shipping-options2{
	display:none;
}

body#checkout-page #shipping-method-info{
	float:left;
}

body#checkout-page .special-payment {
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 20px;
	width: 275px;
}

body#checkout-page div#save-credit-card-info, body#checkout-page div#address-verification {
	background-color: #E6EEF6;
	padding: 10px;
}

body#checkout-page input.text{
	/*padding: 5px;*/
	width: 260px;
}

body#checkout-page .special-payment label, body#checkout-page .wide-label label {
	width: auto;
	padding-right:10px;
	line-height: 20px;
}

body#checkout-page .special-payment p{
	margin-left:0;
	clear:both;
}

body#checkout-page div.verification-container div.grad-footer {
	margin-top: 10px;
}

body#checkout-page div.verification-group {
	/*border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	margin-bottom: -5px;*/
	float: none;
}

body#checkout-page select.wide-dropdown{
	width:280px;
}

body#checkout-page #shipping-same-as{
	width:310px;
	margin-bottom:20px;
}

body#checkout-page #shipping-same-as input{
	top:-1px;
}

body#checkout-page input#coupon-code {
	margin-left:0;
	margin-bottom: 10px;
}

body#checkout-page #po-number div{
	margin-bottom:10px;
}

body#checkout-page #tax-exempt div, #no-shipping-notice{
	padding-right:20px;
}

body#checkout-page #tax-exempt .notice, #no-shipping-notice.notice, #address-verification .notice {
	border: 1px solid #F61A14;
	background:#fed9d8;
	color:#F61A14;
}

#address-verification .notice {
	border: 1px solid #F61A14;
	background:#fed9d8;
	color:#F61A14;
	width:400px;
}

body#checkout-page .contacting div.shipping-options cite:after {
	content: "\00a0";

/* reduce the damage in FF3.0 */
	position: absolute;
	z-index: 30;
	top: 27px;
	left: 50px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #B00000;
	display: block;
}

body#checkout-page #order-review{
	margin-left:20px;
	margin-top:20px;
	margin-right: 20px;
}

body#checkout-page div#order-history-header{
	clear:both;
	background: none no-repeat scroll 0 0 #5B89B4;
	color: #ffffff;
}

body#checkout-page #order-review dd{
	float:left;
}

/*body#checkout-page #order-history-wrapper{
	padding:0 20px;
	border:none;
}
*/
body#checkout-page .edit-cart-button {
	margin: 15px 30px 10px 0;
}

body#checkout-page .ups-service-name input, body#checkout-page .payment-method input{
	top:1px;
}

body#checkout-page .ups-service-name span{
	margin-top:5px;
}

body#checkout-page table#ups-rates {
	margin-bottom: 0;
	width: 430px;
}

body#checkout-page table#ups-rates td.price{
	width:60px;
	text-align:left;
}

body#checkout-page table#ups-rates td.shipping-dates{
	text-align:left;
	padding-left:10px;
	width:125px;
}

body#checkout-page div.expediated-shipping h5 {
	margin-left: 0px;
}

body#checkout-page div.expediated-shipping {
	background-color: #E6EEF6;
	color: #175892;
	margin-bottom: 10px;
	padding: 10px;
}

body#checkout-page div.expediated-shipping textarea {
	margin-top: 5px;
	width: 100%;
}

body#checkout-page #arrival-date-disclaimer {
	margin:10px 0 15px 5px;
}

body#checkout-page dl.items-list{
	width:100%;
	border-bottom:1px solid #ddd;
}

html.lt-ie8 body#checkout-page dl.items-list{width:910px;}

body#checkout-page .sign-thumb, body#checkout-page #sign-image {
	width:210px;
}

body#checkout-page .item-descriptions{
	width:400px;
}

body#shopping-cart-page .item-descriptions{
	width:230px;
}

#orderhistory .item-descriptions{width:350px;}

body#checkout-page .sign-thumb img {
	width:auto;
	height:auto;
	max-height: 150px;
	max-width: 100px;
}

body#checkout-page #edit-cart-button{
	position:relative;
}

body#checkout-page #edit-cart-button div{
	float: left;
	padding:10px;
	margin:10px 0;
	border: 1px solid #F61A14;
	display:none;
	background:#fed9d8;
	position:absolute;
	right: 20px;
	top: -80px;
	z-index: 9999;
}

body#checkout-page #edit-cart-button h4 {
	color: #F61A14;
	float: none;
	margin-bottom: 0;
}

body#checkout-page #edit-cart-button #cancel-edit-cart{
	float: right;
	cursor:pointer;
}

body#checkout-page #edit-cart-button div p{
	color:#F61A14;
}



body#checkout-page .qty-forms-in-shopping-cart {
	width:70px;
}

body#checkout-page .price-per, body#checkout-page .price-total, body#checkout-page div#order-history-header p.price-total{
	width:100px;
	text-align:center;
	margin-right:0;
}

body#checkout-page #order-comments {
	margin-top:20px;
	padding-left:20px;
}

/*body#checkout-page #order-history {
	border-bottom:1px solid #E6E6E6;
}
*/
body#checkout-page #shopping-cart-subtotal {
	margin-top:20px;
	margin-bottom:10px;
}

body#checkout-page #place-order, body#checkout-page .payment-method p{
	margin-top:20px;
}

body#checkout-page textarea#special_comments {
	width: 400px;
	height: 120px;
}

body#checkout-page .payment-method{
	margin-bottom:20px;
}

body#checkout-page .payment-method div{
	margin-left:15px;
}

body#checkout-page .payment-method #saved-card-number{
	margin-left:0;
}

body#checkout-page #save-credit-card-info span {
	font-size: 12px;
	font-weight:normal;
}

body#checkout-page #save-credit-card-info{
	width:400px;
}

body#checkout-page #pay-by-this-method ul li {
	padding: 5px 10px;
	text-align: center;
	width: 115px;
}

body#checkout-page #card-expiration{
	padding-left: 30px;
	width: auto;
}

body#checkout-page .place-order-container div {
	width: 930px;
}

body#checkout-page #special-comments {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 20px;
}

body#checkout-page #place-order-button-wrap{
	width:100%;
	height:70px;
	background: url(/new_images/place-order.gif) right 50% no-repeat;
	clear: both;
}

body#checkout-page .paypal-form #place-order-button-wrap, body#checkout-page #place-order-button-wrap.paypal-checkout-loader{
	background: url(/new_images/paypal-place-order.gif) right 50% no-repeat;
}

body#checkout-page #shopping-cart-subtotal button#continue-order{
	margin: 20px 10px;
line-height: 37px;
padding: 0 20px;
height: 40px;
}

body#checkout-page #shopping-cart-subtotal .placing-order button#continue-order,body#checkout-page #shopping-cart-subtotal .placing-order input.paypal-place-order{
	display:none !important;
}

body#checkout-page #invoice-subtotals {
	height: 100%;
	padding-left: 30px;
}

body#checkout-page .row{
	margin-bottom:10px;
}

body#checkout-page label#credit-card-number-label span.text {
	float: none;
}

body#checkout-page #security-code-wrapper{
	position:relative;
}

body#checkout-page div#security-code-help-information{
	left: 0px !important;
	position: absolute !important;
	top: -320px !important;
	background: none repeat-x scroll 0 0 #E6EFC2 !important;
}


body#checkout-page #security-code-help-wrapper {
	display: block;
	left: 150px;
	position: absolute;
	top: 10px;
	z-index: 999;
}

body#checkout-page a#security-code-help.help {
	margin-left: 0px;
	margin-top: 0px;
	position: relative;
	display:inline;
}

body#checkout-page p#net30-pitch {
	margin-left: 0px;
}

body#checkout-page #payment-method-chooser{width:450px;}

body#checkout-page #payment-method-chooser li a{
	color:#153E54;
	font-weight:bold;
	width: 105px;
	height: 15px;
	padding: 5px 10px 10px 10px;
	display: block;
}

body#checkout-page #payment-method-chooser li a:hover, body#checkout-page #payment-method-chooser li:hover a{
	color:#fff;
	font-weight:bold;
}

body#checkout-page #payment-method-chooser li.selected a{
	color:#fff;
	font-weight:bold;
	cursor: default;
}

body#checkout-page #payment-method-chooser li.selected a:hover{
	color:#fff;
	font-weight:bold;
	cursor: default;
}

body#checkout-page #payment-method-chooser li#credit.selected, body#checkout-page #payment-method-chooser li#credit.selected:hover{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-color:#0f3d65;
	background:#90B557;
	padding-right: 10px;
	height:20px;
}

body#checkout-page #payment-method-chooser li#credit{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background: #d6d6d6;
	height:20px;
	padding: 0 10px 10px 0;
}

body#checkout-page #payment-method-chooser li#credit:hover{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background: #00559B;
	padding-right: 10px;
	height:20px;
}

body#checkout-page #payment-method-chooser li#brimar.selected,body#checkout-page #payment-method-chooser li#paypal.selected, body#checkout-page #payment-method-chooser li#brimar.selected:hover, body#checkout-page #payment-method-chooser li#paypal.selected:hover{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-color: #6D8C3D;
	background:#90B557;
	height:20px;
	margin-left: 15px;
	padding: 0 10px 10px 0;
}

body#checkout-page #payment-method-chooser li#brimar, body#checkout-page #payment-method-chooser li#paypal{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#d6d6d6;
	height:20px;
	margin-left: 15px;
	padding: 0 10px 10px 0;
}

body#checkout-page #payment-method-chooser li#brimar:hover, body#checkout-page #payment-method-chooser li#paypal:hover{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background: #00559B;
	padding-right: 10px;
	height:20px;
	color:#fff;
	margin-left: 15px;
}


body#checkout-page #shipping-address .highlight{
	background-color: #E6EEF6;
}

body#checkout-page div#invoice-subtotals .total-price {
	font-size: 1.5em;
	font-weight: bold;
}

/*body#checkout-page h3{
	background: #00559B
	color:#fff;
}
*/
body#checkout-page p#place-button-disclaimer{
	clear: both;
	text-align: right;
	margin-right: 10px;
}

body#checkout-page #shipping-address #ship-policies {
	color: #444444;
	margin-left: 0px;
	margin-bottom:10px;
}

body#checkout-page #ship-phone-number1, body#checkout-page #ship-phone-number2, body#checkout-page #bill-phone-number1, body#checkout-page #bill-phone-number2 {
	width: 60px;
}

body#checkout-page #ship-phone-number3, body#checkout-page #bill-phone-number3 {
	width: 70px;
}

body#checkout-page .error-message{
	clear:both;
}

body#checkout-page div#checkout-support-links {
	margin-top:10px;
}

body#checkout-page #place-your-order-wrapper h3{
	font-size:15px;
	padding: 5px 10px;
}

body#checkout-page #security-code-wrapper div.message.tooltip:after{
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute; /* value = - border-top-width - border-bottom-width */
	left: -20px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:0; /* vary this value to change the angle of the vertex */
	border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
border-top: 10px solid transparent;
border-right: 20px solid #6D8C3D;
border-bottom: 10px solid transparent;
	border-top-color: transparent;
	top: 72%;
}

.error-message-generated p{
	color:#fff;
	font-weight:normal;
}

.error-message-generated a{
	color:#153E54;
}

.error-message-generated a:hover{
	color:#fff;
}

body#checkout-page #coupon_message span{
	display:block;
	color: #008A52;
	background-color: #D9EDE5;
	border:1px solid #008A52;
	clear: both;
	margin-bottom: 10px;
	position: relative;
	top: 10px;
}

body#checkout-page #coupon_message_error span{
	background: none repeat scroll 0 0 #FBE3E4;
	border: 1px solid #F61A14;
	clear: both;
	color: #F61A14;
	display: block;
	margin-bottom: 10px;
	position: relative;
	top: 10px;
}


body#checkout-page .form-container p.h4-rev{ margin-left:0; }

#coupon_active{
	width:100%;
	clear:both;
}


input#shipping-account{
	margin: 2px 10px 1px 0;width: 200px;float: left !important;
}

.item-descriptions input.showhidedes{background: #175892;
color: #FFF;
height: 20px;
line-height: 10px;
font-weight: normal;
text-shadow: none;}

.item-descriptions input.showhidedes:hover{background: #F26222;
border-color: #C54A27;
}

/* PAYPAL INTEGRATION */

form#checkout-form.paypal-form #shipping-address {
	border-left:none;
	border-right: 1px solid #E6E6E6;
}

form#checkout-form.paypal-form #shipping-det {
	border-left: none;
	margin-top:20px;
}

.paypal-billing{
	background-color: #E6EEF6;
	width:380px;
	padding:20px;
}

form#checkout-form.paypal-form .paypal-logo tr{padding:0;}

form#checkout-form .paypal-place-order{
	float: right;
	margin-top: 23px;
	margin-right: 5px;
	display:block;
	background: #ffffff;
	padding:5px;
}

#checkbox-copy-wrapper{width:100%;}

.cart-percentage{color:#BD1818;font-weight: bold;}


/* IE FIXES */
.lt-ie8 .shipping-options-loader {width:100%;}


.lt-ie9 #content{background:#ffffff;}

.lt-ie8 #verifyaddress{width:100%;clear:both;}
.lt-ie8 #arrival-date-disclaimer, .lt-ie8 #verifyaddress p{float:none !important;width:400px !important;}

.lt-ie8 #column-1{padding-bottom: 20px;}

.lt-ie8 #footer{display:none;}

@media screen and (max-width: 1000px){
html * {max-height:1000000px;text-rendering:optimizeSpeed;}
}