<div class="addtocart-error-dialog">
	<p>Could Not Add Item to Cart</p>
	<div class="addtocart-error-dialog-inner">
		{{#each errors}}
			<p>{{this}}</p>
		{{/each}}
		<p>Please contact our customer service department at 800-274-6271 if you need assistance.</p>
		<div class="addtocart-error-dialog-buttons">
			<div class="button cancel">Close</div>
		</div>
	</div>
</div>
