<div class="save-cart-confirm">
	<p class="h4 text-center">Your Shopping Cart has been saved!</p>
	<p class="append-bottom text-center">Cart <span class="italic">{{cartName}}</span> can be reviewed on your My Account page.</p>
	<div class="span-5 text-center">
		<p class="button close-button">Close</p>
	</div>
	<div class="span-4 text-center">
		<a href="[[pageUrl my-account html]]" class="button green">Go To My Account</a>
	</div>
</div>
