<div class="save-cart-delete text-center">
	<p class="h4">Are you sure you want to delete this cart?</p>
	<p class=" append-bottom-20">This will permanently delete cart: <span class="italic">{{cartName}}</span></p>
		<p class="button close-button">Cancel</p>
		<p class="button green confirm">Delete Saved Cart</p>
</div>
