<div class="load-cart-overwrite">
	<p class="h4">Do you want to replace your cart?</p>
	<p class="append-bottom-20">Loading this cart will replace your current cart.</p>
	<div class="span-5 text-center">
		<span class="button close-button">Cancel</span>
		<p class="prepend-top small-text">Return to your<br>current cart.</p>
	</div>
	<div class="span-5 text-center">
		<p class="button green add-items">Add Items</p>
		<p class="prepend-top small-text">Combine the items in the saved cart <br>with your current cart.</p>
	</div>
	<div class="span-5 text-center">
		<p class="button green replace-items">Replace Cart</p>
		<p class="prepend-top small-text">Overwrites the current cart <br>with the saved cart.</p>
	</div>
</div>