<div class="save-cart-overwrite">
	<p class="h4 append-bottom">You already have a cart saved to your account named <span class="italic">{{cartName}}</span>.</p>
	<div class="span-5 text-center">
		<p class="button conflict-cancel-button">Cancel</p>
		<p class="prepend-top">Close this window and <br>enter a new cart name.</p>
	</div>
	<div class="span-5 text-center">
		<p class="button green add-button">Add Items</p>
		<p class="prepend-top">Add these items to your <br>previously-saved cart.</p>
	</div>
	<div class="span-5 text-center">
		<p class="button green replace-button">Replace</p>
		<p class="prepend-top">Overwrites the saved cart <br>with the current cart.</p>
	</div>
</div>
